<html lang="fr">  

    <head>
	<meta charset="utf-8">
	<title>GuideOffice</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- jQuery & Ajax -->
    <script src="../js/jquery.js"></script>
	
	<!-- Icon de l'onglet -->
    <link rel="icon" type="image/png" href="../images/Logo_ID.png" />
	
	<!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="../css/fonts.css">
	
	<!-- CSS Maretialize -->
    <link type="text/css" rel="stylesheet" href="../css/materialize/materialize.css"  media="screen,projection"/>

    <!-- CSS & JS ColorPicker -->
    <link rel="stylesheet" media="screen" type="text/css" href="../js/contenu/colorpicker/css/colorpicker.css" />
	<script type="text/javascript" src="../js/contenu/colorpicker/js/colorpicker.js"></script>
	
	<!-- CSS & JS Perso -->
	<link rel="stylesheet" type="text/css" href="../css/contenu.css">


	{% block head %}

	{% endblock %}


	</head>




	<body>
		<style type="text/css">
			#contenu,
			#table{
				padding:20px;
			}
			{% block style %}

			{% endblock %}
		</style>

		<nav>
		    <div class="nav-wrapper">
		    	<ul class="left hide-on-med-and-down">
			    	<li>
		    			<img class="brand-logo" src="../images/Id_Logistics_Logo_Blanc.png" id="logo"></img>
			    	</li>
		    	</ul>
		    	<div class="brand-logo center">{% block titre %}{% endblock %}</div>
		    	<ul class="right hide-on-med-and-down">
			    	<li>
			    		<a onclick="location.reload()" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Refresh">
			    			<i class="mdi-navigation-refresh"></i>
			    		</a>
			    	</li>
			    	<li>
			    		<a onclick="window.close()" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Fermer">
			    			<i class="mdi-navigation-close"></i>
			    		</a>
			    	</li>
		    	</ul>
			</div>
		</nav>

		<div class="container" id="contenu">
		{% block contenu %}

		{% endblock %}
		</div>


		<div id="table">
		{% block table %}

		{% endblock %}
		</div>
		

	    <!-- Materialize -->
	    <script src="../js/materialize/materialize.js"></script>

	    {% block foot %}

		{% endblock %}


		<script type="text/javascript">



			{% block script %}

			{% endblock %}

		</script>


		
	</body>


<html>
