{% extends 'contenu/layout_powerpoint.twig' %}



{% block contenu %}

<style>

</style>

<h1 class="center-align">{{nomC}}</h1>

<p align="justify">
	Les animations sont les effets sur un élément sélectionné, qui se produisent pendant une diapo. 
	Vous trouverez tous les effets dans l'onglet <b><i>Animations</i></b>. Elle se regroupe en 3 parties:
</p>

<div class="center-align image">
	<img class="materialboxed" width="400" src="../images/contenu/cours_powerpoint_6/01.png"/>
</div>
	


<p align="justify">
	<h2>L'apparition</h2>
	Les effets d'apparition sont en vert, ce sont les effets qui font apparaître un élément (qu'il soit forme ou texte).<br>
</p>

<div class="col s6 center-align image">
	<img class="materialboxed" width="300" src="../images/contenu/cours_powerpoint_6/02.gif"/>
	<br>
	<label>Exemple d'apparition</label>
</div>



<p align="justify">
	<h2>Les emphases</h2>
	Les effets d'emphase sont en jaune,ce sont les effets visuels  d'un élément pendant la diapo.<br>
</p>

<div class="col s6 center-align image">
	<img class="materialboxed" width="300" src="../images/contenu/cours_powerpoint_6/03.gif"/>
	<br>
	<label>Exemple d'emphase</label>
</div>



<p align="justify">
	<h2>Les disparitions</h2>
	Les effets de disparition sont en rouge, ce sont les effets qui font disparaître un élément.<br>
</p>

<div class="center-align image">
	<img class="materialboxed" width="300" src="../images/contenu/cours_powerpoint_6/04.gif"/>
	<br>
	<label>Exemple de disparition</label>
</div>

<p align="justify">
	<h2>Le volet d'animation</h2>
	Tous ces effets peuvent être orchestrés grâce au volet d'animation. Vous pourrez gérer l'ordre et la durée d'une apparition (ou d'une disparition),
	le nombre de répétition d'une emphase, à quel moment un effet se déclenche: clic de souris, avec l'effet précédent... Tout peut-être contrôlé !
</p>

<div class="center-align image">
	<img class="materialboxed" width="300" src="../images/contenu/cours_powerpoint_6/05.png"/>
	<br>
	<label>Le volet d'animation</label>
</div>

<p align="justify">
	Le seul moyen de tout explorer est de bidouiller, le cours serait trop long pour explorer toute les options. 
	Mais voici un petit exemple de ce que l'on peut finir par faire.
</p>

<div class="center-align image">
	<img class="materialboxed" width="500" src="../images/contenu/cours_powerpoint_6/06.gif"/>
	<br>
	<label>Exemple d'animation</label>
</div>

{% endblock %}