{% extends 'contenu/layout_oracle.twig' %}



{% block contenu %}

<h1 class="center-align">{{nomC}}</h1>

<p align="justify">
Oracle est un Système de Gestion de Base de Données (SGBD). C'est un logiciel 
qui permet de stocker des informations dans une base de données. 
Un tel système permet de lire, écrire, modifier, trier, 
transformer ou même imprimer les données qui sont contenus dans la base de données.<br>
</p>
<p align="justify">
Dans les modules Oracle, vous pouvez découvrir les notions de base de données (BD).<br>
Une BD est à votre disposition pour pratiquer. 
Vous pouvez y appliquer tout les requêtes possible comme la recherche, l'ajout ou même la suppression, 
la BD ne peut pas être définitivement modifié.<br>
</p>



<div class="center-align image">
	<img class="materialboxed" width="60%" src="../images/contenu/cours_oracle_1/01.png"/>
	<br/>
	<label> Modèle Logique des Données</label>
</div>

<p align="justify">
	La BD d'entraînement suit le modèle ci-dessus. <br>
	Une base de livraision à un contrat avec un point de vente, et le point de vente peut passer des commandes de produit.<br>
</p>

<div id="modal1" class="modal">
	    <div class="modal-content">
		    <h4>Exemples de requêtes</h4>
		    <p>
		    	SELECT nomPdV from PointDeVente<br>
		    	SELECT idBase from BaseLivraison<br>
				SELECT numCom from Commande<br>
				SELECT * from Produit<br>
		    </p>
	    </div>
	    <div class="modal-footer">
		    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
	    </div>
	 </div>

{% endblock %}