{% extends 'contenu/layout_excel.twig' %}


{% block contenu %}

<style type="text/css">
	.tabs .tab a {
		color: #616161;
	}
	.tabs .tab a:hover{
		color: #388e3c;
	}
	
	.tabs .indicator{
		background-color: #388e3c;
	}

	.indiceImage{
		text-align:center;
		padding-right:25px
	}

	h4{
		color: #388e3c;
		font-size: 20px;
	}
	color{
		font-size: 20px;
	}
	
</style>


<h1 class="center-align">{{nomC}}</h1>

<p align="justify">
	Microsoft Excel est un tableur publié par Microsoft. 
	Excel 2013 est la dernière version de Excel, l'interface graphique est similaire à celle de 2010. 
	Les Menus sous forme de ruban et les catégories sont inchangées, les utilisateurs de Excel 2010 ne se perdront pas dans la navigation.
</p>

<div class="row">
	<div class="col s6">
		<div class="center-align image">
			<img class="materialboxed" data-caption="Capture de Microsoft Excel 2010" width="300"src="../images/contenu/cours_excel_2/02.png"/>
			<br/>
			<label> Capture de Microsoft Excel 2010</label>
		</div>
	</div>
	<div class="col s6">
		<div class="center-align image">
			<img class="materialboxed" data-caption="Capture de Microsoft Excel 2013" width="300"src="../images/contenu/cours_excel_2/01.png"/>
			<br/>
			<label> Capture de Microsoft Excel 2013</label>
		</div>
	</div>
</div>

<div>
	<ul class="tabs">
		<li class="tab"><a href="#accueil" class="active">Accueil</a></li>
		<li class="tab"><a href="#insertion" >Insert</a></li>
		<li class="tab"><a href="#miseP" >Mise en p</a></li>
		<li class="tab"><a href="#formule">Form</a></li>
		<li class="tab"><a href="#donnee">Données</a></li>
		<li class="tab"><a href="#revision">Révison</a></li>
		<li class="tab"><a href="#affiche">Afficha</a></li>
		<li class="tab"><a href="#developpeur">Dévelop</a></li>
	</ul>
		
	<div>

		<!-- MENU ACCUEIL -->
		<div id="accueil">
			<h4>Accueil</h4>
			<p align="justify">
				Affichage principal de l'application, 
				la majeure partie des fonctionnalités les plus utilisé se trouve dans l'onglet Accueil.<br>
				Le menu est découpé en plusieurs catégories que nous allons définir.
			</p>
			<div class="center-align image">
				<img class="materialboxed" width="100%"src="../images/contenu/cours_excel_2/03.png"/>
				<br/>
				<label> Capture de Microsoft Excel 2013</label>
			</div>
			<table>	
				<tr>
					<td class="indiceImage">
						<color style="color:#ed1c24;" >1</color>
					</td>
					<td>
						Le Presse-papier contient les fonctions de <i>copier</i>, <i>couper</i> et <i>coller</i>.<br>
						<i>Reproduire la mise en forme</i> permet de <i>copier/coller<i> le style d'une sélection. Elle prend en compte: la police, la taille, la couleur et le décor.
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#f7941d;" >2</color>
					</td>
					<td>
						Dans la partie <i>Police</i>, on peut retrouver toutes les fonctions pouvant mettre en forme le style du texte:
						la police, la taille, la couleur et le décore <small>(souligné, sur-ligné, rayé, contour...)</small>.
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#fff200;" >3</color>
					</td>
					<td>
						<i>Alignement</i> permet de contrôler l'alignement du contenu des cellules<br>
						On peut changer la position horizontal d'écriture dans la cellule <small>(gauche, centre, droite)</small>, mais aussi la position vertical
						<small>(haut, centre, bas)</small>.
						Il est aussi possible de fusionner les cellules et d'en orienter le contenu.
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#39b54a;" >4</color>
					</td>
					<td>
						Il est possible de changer le format des cellules qui contiennent des valeurs numérique.
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#0072bc;" >5</color>
					</td>
					<td>
						Le style des cellules peut-être modifié pour avoir un meilleur visuel. Il est possible aussi paramétrer les cellules
						pour que le style change selon des conditions.
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#9933cc;" >6</color>
					</td>
					<td>
						<i>Cellules</i> permet de d'insérer ou de supprimer des lignes, des colonnes ou des cellules. Leurs tailles
						peut-être modifié.
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#ec008c;" >7</color>
					</td>
					<td>
						L'<i>Édition</i> contient plusieurs fonctionnalité :<br>
						- Une liste de fonction pour des calcules élémentaires,<br>
						- La fonction de remplissage pour étendre une valeur,<br>
						- La gomme pour effacer les contenus et/ou les styles des cellules,<br>
						- La fonction de tri, pouvant s'appliquer à une selection, une ligne ou une colonne,<br>
						- La fonction de recherche pour chercher un élément dans toute la feuille.<br>
					</td>
				</tr>
			</table>
		</div>

		<!-- MENU INSERTION -->

		<div id="insertion">
			<h4>Insertion</h4>
			<p align="justify">
				L'<i>Insertion</i> va vous permettre d'insérer différents éléments à votre classeur. 
				Des éléments imprimables, comme un graphique ou des images, et des éléments informatisé comme les, 
				tableaux dynamique.
			</p>
			<div class="center-align image">
				<img class="materialboxed" width="100%"src="../images/contenu/cours_excel_2/04.png"/>
				<br/>
				<label> Capture de Microsoft Excel 2013</label>
			</div>
			<table>
				<tr>
					<td class="indiceImage">
						<color style="color:#7b2e00;" >1</color>
					</td>
					<td>
						Créer un Tableau ou un tableau dynamique n'a jamais été aussi simple.
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#ed1c24;" >2</color>
					</td>
					<td>
						 On peut insérer des illustrations.
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#f26522;" >3</color>
					</td>
					<td>
						Vous pouvez intéragir avec des applications extérieurs à Excel, comme sur Word.
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#fff200;" >4</color>
					</td>
					<td>
						Pour accompagner vos chiffre, vous pouvez générer des graphiques de différentes sortes 
						<small>(courbes, barres, toiles, anneaux...)</small>
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#39b54a;" >5</color>
					</td>
					<td>
						Power View un autre type de feuille qui permet de réorganiser les données, pour donnée un meilleur rendu visuel.  
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#197b30;" >6</color>
					</td>
					<td>
						Les graphiques sparkline sont comme les graphiques (<i>partie 4</i>) mais leur particularité font qu'il tienne dans une cellule.
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#00a99d;" >7</color>
					</td>
					<td>
						Il est possible de filtrer les données selon un segment ou une chronologie.
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#0072BC;" >8</color>
					</td>
					<td>
						Une case peut contenir un lien hypertexte, afin de aire une redirection vers un document ou un site internet.
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#662D91;" >9</color>
					</td>
					<td>
						<i>Texte</i> contient plusieurs fonctions d'insertions d'éléments. 
						Ces éléments peuvent être une zone de texte, un Tag, ou même une zone de signature.
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#9933cc;" >10</color>
					</td>
					<td>
						Le clavier ne possède pas tout les caractères du monde, 
						mais Word propose une table des symboles et l'insertion de zones d'équations mathématiques.
					</td>
				</tr>
								
			</table>
		</div>

		
		<!-- MENU MISE EN PAGE -->
		<div id="miseP">
			<h4>Mise en page</h4>
			<p align="justify">
				blabla
			</p>
			<div class="center-align image">
				<img class="materialboxed" width="100%"src="../images/contenu/cours_excel_2/05.png"/>
				<br/>
				<label> Capture de Microsoft Excel 2013</label>
			</div>

			<table>
				<tr>
					<td class="indiceImage">
						<color style="color:#ed1c24;" >1</color>
					</td>
					<td>
						Plusieurs thèmes préconçus sont proposés.
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#f7941d;" >2</color>
					</td>
					<td>
						Il est possible de choisir la mise en page du classeur, pour l'impression.
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#fff200;" >3</color>
					</td>
					<td>
						L'échelle de la mise ne page peut-être modifié.
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#39b54a;" >4</color>
					</td>
					<td>
						Il est possible de d'afficher ou non, le quadrillage ou l'en-tête du classeur.
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#0072bc;" >5</color>
					</td>
					<td>
						Si il y a plusieur élément sur la feuille qui se superpose, il est possible de mettre en avant ou en arrière
						les éléments.
					</td>
				</tr>
			</table>

		</div>

		<!-- MENU FORMULE -->
		<div id="formule">
			<h4>Formule</h4>
			<p align="justify">
				Cet onglet comporte tous les outils pour favoriser l'écriture des formules.
			</p>
			<div class="center-align image">
				<img class="materialboxed" width="100%"src="../images/contenu/cours_excel_2/06.png"/>
				<br/>
				<label> Capture de Microsoft Excel 2013</label>
			</div>

			<table>
				<tr>
					<td class="indiceImage">
						<color style="color:#ed1c24;" >1</color>
					</td>
					<td>
						Ici repose toute les fonction possible de Excel, présenté sous la forme d'une bibliothèque.
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#f7941d;" >2</color>
					</td>
					<td>
						Pour simplifier les formules, vous pouvez créer des variables. Cela permet d'entrer le nom de la variable
						plutôt que de selectionner la plage de données.
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#fff200;" >3</color>
					</td>
					<td>
						Cette partie nous permet de verifier si certaines cellules dépendes de d'autres.
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#39b54a;" >4</color>
					</td>
					<td>
						En cas de modification de valeur, vous pouvez choisir de calculer automatiquement ou non les 
						"<i>consequence</i>" que cette modification engendre.
					</td>
				</tr>
			</table>

		</div>

		<!-- MENU DONNEE -->
		<div id="donnee">
			<h4>Données</h4>
			<p align="justify">
				blabla
			</p>
			<div class="center-align image">
				<img class="materialboxed" width="100%"src="../images/contenu/cours_excel_2/07.png"/>
				<br/>
				<label> Capture de Microsoft Excel 2013</label>
			</div>

			<table>
				<tr>
					<td class="indiceImage">
						<color style="color:#ed1c24;" >1</color>
					</td>
					<td>
						Il est possible d'importer des données, d'une base de données, d'une page internet
						ou d'un fichier externes.
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#f7941d;" >2</color>
					</td>
					<td>
						Vous pouvez établire des connexions pour récupérer des données et les  actualiser.
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#fff200;" >3</color>
					</td>
					<td>
						On retrouve ici les fonctions de filtre pour trier selon des critères de choix.
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#39b54a;" >4</color>
					</td>
					<td>
						Il existe des outils applicable pour les données, pour favoriser le traitement.
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#0072bc;" >5</color>
					</td>
					<td>
						Regrouper vos données pour mettre un peut d'ordre.
					</td>
				</tr>
			</table>

		</div>


		<!-- MENU REVISION -->
		<div id="revision">
			<h4>Révision</h4>
			<p align="justify">
				blabla
			</p>
			<div class="center-align image">
				<img class="materialboxed" width="100%"src="../images/contenu/cours_excel_2/08.png"/>
				<br/>
				<label> Capture de Microsoft Excel 2013</label>
			</div>

			<table>
				<tr>
					<td class="indiceImage">
						<color style="color:#ed1c24;" >1</color>
					</td>
					<td>
						Pour les cellules contenant des mots, vous pouvez verifier l'orthographe...
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#f7941d;" >2</color>
					</td>
					<td>
						et vous pouvez traduire.
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#fff200;" >3</color>
					</td>
					<td>
						Vous pouvez aussi commenter les cellules...
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#39b54a;" >4</color>
					</td>
					<td>
						et protéger votre document.
					</td>
				</tr>
			</table>

		</div>


		<!-- MENU AFFICHAGE -->
		<div id="affiche">
			<h4>Affichage</h4>
			<p align="justify">
				Cette partie sert uniquement à modifier le visuel du logiciel. 
				Toutes modifications sur cette onglet n’aura aucun effet sur le document.
			</p>
			<div class="center-align image">
				<img class="materialboxed" width="100%"src="../images/contenu/cours_excel_2/09.png"/>
				<br/>
				<label> Capture de Microsoft Excel 2013</label>
			</div>

			<table>
				<tr>
					<td class="indiceImage">
						<color style="color:#ed1c24;" >1</color>
					</td>
					<td>
						Vous pouvez modifier l’affichage. Le mode lecture ne permet pas de modifier le document.
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#f7941d;" >2</color>
					</td>
					<td>
						Vous pouvez faires apparaître les règles, le quadrillage et la barre de formule.
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#fff200;" >3</color>
					</td>
					<td>
						Outils de zoom
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#39b54a;" >4</color>
					</td>
					<td>
						Avec les fonctions de Fenêtre, 
						vous pouvez générer les fenêtres de plusieurs documents ouverts. <br>
						Fractionner permet d’avoir 2 vues sur le même document.
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#0072bc;" >5</color>
					</td>
					<td>
						Il est possible de créer des macros.
					</td>
				</tr>
			</table>

		</div>

		<!-- MENU DEVELOPPEUR -->
		<div id="developpeur">
			<h4>Développeur</h4>
			<p align="justify">
				Cette partie est réservé au plus aguerrie.
			</p>
			<div class="center-align image">
				<img class="materialboxed" width="100%"src="../images/contenu/cours_excel_2/10.png"/>
				<br/>
				<label> Capture de Microsoft Excel 2013</label>
			</div>

			<table>
				<tr>
					<td class="indiceImage">
						<color style="color:#ed1c24;" >1</color>
					</td>
					<td>
						Ajoutez des programmes en Visual Basic.
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#f7941d;" >2</color>
					</td>
					<td>
						Gérer les compléments.
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#fff200;" >3</color>
					</td>
					<td>
						Ajouter des élément de formulaire, programmable avec Visual Basic.
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#39b54a;" >4</color>
					</td>
					<td>
						Gérer le mappages XML.
					</td>
				</tr>
				<tr>
					<td class="indiceImage">
						<color style="color:#0072bc;" >5</color>
					</td>
					<td>
						Spécifier le type de modèle du panneau <i>Information</i> à afficher
						Pours les programmes compatible avec Office.
					</td>
				</tr>
			</table>

		</div>

	</div>

</div>


{% endblock %}

{% block script %}





{% endblock %}