{% extends 'contenu/layout_excel.twig' %}


{% block contenu %}

<style type="text/css">
	
</style>

<h1 class="center-align">{{nomC}}</h1>

<p align="justify">
	Pour les fichiers Excel contenant des fonctions ou des macros personnels. 
	Il vous faut activer les contenus, sans quoi rien de fonctionnera correctement.
</p>
  

       <!-- ARRONDI -->
<div class="center-align image">
	<img class="materialboxed" data-caption="Capture de Microsoft Excel 2013" width="300"src="../images/contenu/cours_excel_8/01.png"/>
	<br/>
	<label> Capture de Microsoft Excel 2010</label>
</div>


		<!-- ARRONDI AU SUPERIEUR -->
<p align="justify">
	Une notification (<b><i>Figure 1</i></b>) apparaît au-dessus de la barre de fonction, pour vous avertir.
</p>

<p align="justify">
	Cliquer sur le bouton <b><i>Option</i></b>. Une fenêtre apparaîtra (<b><i>Figure 2</i></b>).
</p>
	

<div class="center-align image">
	<img class="materialboxed" data-caption="Capture de Microsoft Excel 2013" width="300"src="../images/contenu/cours_excel_8/02.png"/>
	<br/>
	<label> Capture de Microsoft Excel 2010</label>
</div>


<p align="justify">
	Comme vous pouvez le voir, il y a 2 options. Il faut que ces options soient activées pour que les contenus fonctionnent.
</p>

<p align="justify">
	Cliquer sur <b><i>OK</i></b>. 
</p>





{% endblock %}