{% extends 'contenu/layout_powerpoint.twig' %}



{% block contenu %}

<style>

</style>

<h1 class="center-align">{{nomC}}</h1>

<p align="justify">
	Les transitions sont les effets qui se produisent entre deux diapos. 
	Vous trouverez tous les effets dans l'onglet <b><i>Transition</i></b>.
</p>

<div class="center-align image">
	<img class="materialboxed" width="500" src="../images/contenu/cours_powerpoint_5/01.png"/>
	<br>
	<label>L'onglet transitions</label>
</div>

<p align="justify">
	Pour appliquer une transition, il vous suffit d'aller sur la diapo voulue et de choisir une transition parmi la liste.
	Ce sera l'animation qui fera apparaitre la diapo choisi.
</p>

<div class="center-align image">
	<img class="materialboxed" width="400" src="../images/contenu/cours_powerpoint_5/02.gif"/>
	<br>
	<label>Exemple de transition</label>
</div>

<p align="justify">
	Les transitions peuvent être orchestrées grâce au minutage. Les transitions peuvent être accompagnées d'un son 
	(ce qui n'est pas très conseillé dans un cadre professionnel) et vous pouvez décider du passage automatique ou manuel des diapos.<br>
	Les passages automatique se règle avec un minuteur, il va donc vous falloir une bonne coordination.
	Les diapos ne doivent pas obligatoirement être tous automatique.
</p>


{% endblock %}