{% extends 'contenu/layout_oracle.twig' %}


{% block contenu %}


	<h1 class="center-align">{{nomE}}</h1>
	<p align="justify">
		Ici vous pouvez vous exercer aux requêtes SQL.
	</p>
	
	<div id="modal1" class="modal">
	    <div class="modal-content">
		    <h4>Exemples de requêtes</h4>
		    <p>
		    	SELECT nomPdV from PointDeVente<br>
		    	SELECT nomBase from BaseLivraison<br>
				SELECT numCom from Commande<br>
				SELECT nomProd from Produit<br>
		    </p>
	    </div>
	    <div class="modal-footer">
		    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
	    </div>
	 </div>



{% endblock %}