

/* 
  ============= INDEX DE COLOR =============

    home: 693884
    word: 0D47A1
    excel: 43A047
    powerpoint: E65100
    oracle: d02023

    navnbar style
      bcg color par defaut: 0D47A1
      bcg color selectionné:
      text color par defaut: fafafa
      text color selectionne: f5f5f5

    color de ID: 
      bleu: 00457e;
    
*/

/* ============= NEW FONT-FAMILY ============= */

@import url('fonts.css');



/* ============= BANNIERE ============= */

.banniere{
  padding-bottom: 50px;
}


.foot{
  padding-top: 50px;
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.copyright{
  background-color: #0B3C87;
  margin-bottom: 0px;

}

.copyright img{
  width: 100%;
  max-width: 75px;
  height: auto;
}

/* Logo de ID Logistics */
#logo{
  width: 100%;
  max-width: 200px;
  height: auto;
}

#titreSite, 
#descSite{
  color: #fff;
  font-family: 'Roboto';
}

/* Titre principal du site */
#titreSite{
  font-size: 100px;
}

#descSite{
  font-size: 15px;
}


.autre{
  background-color: #7b1fa2;
}

.word,
.Word{
  background-color: #1976d2;
}

.excel,
.Excel{
  background-color: #388e3c;
}

.powerpoint,
.PP{
  background-color: #f57c00;
}

.oracle,
.Oracle{
  background-color: #d32f2f;
}


.part{
  padding-top: 100px;
  padding-bottom: 100px;
}

.part-heading{
  padding-bottom: 50px;
  font-family: "Roboto";
}

.separator {
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #BDB4B4;
}

a:focus,
 a:hover{
  color: #e5322d;
  text-decoration: none;
}


/* ============= NAV-TABS ============= */

li.list-group-item {
  border: none;
  font-size: 15px; 
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
  margin-top:0px;
  margin-bottom:0px;
  padding-top: 0px;
  padding-bottom:0px;
}

li.list-group-item a{
    color:#a8a8a8;

}

li.list-group-item:hover > a:hover{
  border-width:thin;
  border-left-style:solid;
  border-left-color: #e5322d;
  color: #e5322d;      
  border-width:1px;
  background-color:#fff;
  
}



li.list-group-item.active > a,
li.list-group-item.active > a:hover,
li.list-group-item.active > a:focus { 
  border-width:2px;
  border-left-style:solid;
  border-left-color: #e5322d;  
  color: #e5322d;  
  padding: 3px 8px;
}
 

.nav >li>a{
  padding:3px 10px;
}

.list-group-item,
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover{
  background: none;
}

ul.list-group {
  margin-top: 150px;
}

ul.list-group.affix {
  top: 20px; /* Set the top position of pinned element */
}



/* ============= CONTENUE ACCUEIL ============= */

body{
  font-family: "Roboto";
  font-weight: 300;
}

.logo-module{
  max-width: 50px;
}

.cliquable:hover{
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

#contact, #faq{
  margin-top: 30px;
}



/* ============= POUR LES PETITS ECRAN ============= */
@media screen nd (max-width: 768px) {a



  /* ============= BANNIERE ============= */

  /* Logo de ID Logistics */
  #logo{
    width: 100%;
    max-width: 150px;
    min-width: 150px;
    height: auto;
  }

  .ligne_vertical{
    height: 100px;
    margin-right: 30px;
    margin-left: 20px;
    border-right: 2px solid #BDB4B4;
  }

  /* Titre principal du site */
  #titreSite {
    color: #00457e;
    font-family: 'Roboto';
    font-size: 30px;
  }

  #descSite{
    font-size: 25px;
  }


  /* ============= NAV-TABS ============= */
  ul.list-group {
    margin-top: 100px;
  }

  ul.list-group.affix {
    top: -50px;
  }

}