<!doctype html>  


<html lang="fr">  

    <head>
      <meta charset="utf-8">
      <title>GuideOffice</title>

      <!-- Bootstrap Core CSS -->
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <link href="css/style.css" rel="stylesheet" >
       
        
    </head>



   {% block menu_nav %} 
    
   {% endblock %}
        
     

    <body>
        
        {% block header %}
                
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <img src="images/IDlogistics_Logo.jpg" id="logo">
              </div>
              <div class="col-md-9">
                <h1 id="titreSite">Guide</h1>
                <h1><small>Guide aux applications du pack Office et Oracle</small></h1>
              </div>
            </div>
          </div>


          <nav class="navbar navbar-default " id="nav">
             <div class="container">
                <div class="navbar-header">
                   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="glyphicon glyphicon-th-list"></span>
                   </button>
                </div>
                   <ul class="nav nav-justified">

                      <li><a href="#" id="ItemHome">
                        <div>
                          <img id="itemLogo" src="images/Logo_Home.png">
                        </div>
                        Home
                      </a></li>

                      <li><a href="#sectionWord" id="ItemWord">
                        <div>
                          <img id="itemLogo" src="images/Logo_Word.png">
                        </div>
                        Word
                      </a></li>

                      <li><a href="#sectionExcel" id="ItemExcel">
                        <div>
                          <img id="itemLogo" src="images/Logo_Excel.png">
                        </div>
                        Excel
                      </a></li>

                      <li><a href="#sectionPowerPoint" id="ItemPowerPoint">
                        <div>
                          <img id="itemLogo" src="images/Logo_PowerPoint.png">
                        </div>
                        PowerPoint
                      </a></li>

                      <li><a href="#sectionOracle" id="ItemOracle">
                        <div>
                          <img id="itemLogo" src="images/Logo_Oracle.png">
                        </div>
                        SQL
                      </a></li>
                      
                   </ul>
             </div>
          </nav>
            
            
        {% endblock %}

    


       {% block contenue %}
        <div class="container">
            <div id="sectionWord">
              <h1> Titre de la section Word</h1>
            </div>
            
            <div id="sectionExcel">
              <h1> Titre de la section Excel</h1>
            </div>
              
            <div id="sectionPowerPoint">
              <h1> Titre de la section PowerPoint</h1>
            </div>

            <div id="sectionOracle">
              <h1> Titre de la section Oracle</h1>
            </div>
          </div>
       {% endblock %}



    </body>

<footer>
    {% block footer %}

    {% endblock %}

</footer>


    {% block plus %}

    {% endblock %}


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    
</html>